body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
}

#app {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background: #007bff;
  color: white;
}

td img {
  max-width: 50px;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #218838;
}

/* Pagination */
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

#pagination button:hover {
  background: #0056b3;
}

@media (max-width: 600px) {
  table {
      font-size: 14px;
  }
}
